# Node.js dependencies
node_modules/

# Environment variables file
.env

# Logs
logs/
*.log

# Dependency directories
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build directories
dist/
build/

# IDE files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# MongoDB data directory (if applicable)
data/

# Coverage reports (if using testing tools like Jest)
coverage/
